version: '3.8' # Docker Compose dosya formatının versiyonu

services:
  db:
    # Resmi PostgreSQL imajını kullanıyoruz.
    # Docker, M1 (ARM) için otomatik olarak uyumlu imajı çekecektir.
    image: postgres:15-alpine
    
    restart: always
    
    environment:
      # Veritabanı adı
      POSTGRES_DB: product_db
      # PostgreSQL superuser (süper kullanıcı) adı
      POSTGRES_USER: admin
      # PostgreSQL superuser şifresi (GÜVENLİĞİ SAĞLAMAK İÇİN DEĞİŞTİRİN!)
      POSTGRES_PASSWORD: admin
    
    ports:
      - "5434:5432"

    # Veriyi kalıcı hale getirme (Verilerin Docker durdurulsa bile silinmemesi için)
    volumes:
      # Veritabanı dosyaları için bir Docker Volume kullanıyoruz
      - postgres_data:/var/lib/postgresql/data

# Docker Volume tanımlamaları
volumes:
  # Veritabanı dosyalarını saklamak için kalıcı bir alan oluşturur
  postgres_data:


#    services:
#      pgvector:
#        image: 'pgvector/pgvector:pg16'
#        environment:
#          - 'POSTGRES_DB=comp'
#          - 'POSTGRES_PASSWORD=secret'
#          - 'POSTGRES_USER=myuser'
#        labels:
#          - "org.springframework.boot.service-connection=postgres"
#        ports:
#          - "5433:5432"
